.body {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    min-width: 1440px;
    background-color: #131313;
    padding: 0 134.55px 0 134.45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    color: #FFF;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}