.slider__arrow {
    margin: 0 29.5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__arrow:last-of-type {
    margin: 0 0 0 29.5px;
}

.slider__arrow:hover {
    cursor: pointer;
}